<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket quantity:</strong>
  <%= @purchase.ticket_quantity %>
</p>

<p>
  <strong>Payment amount:</strong>
  <%= number_to_currency(@purchase.payment_amount) %>
</p>

<p>
  <strong>Response:</strong>
  <%= @purchase.response %>
</p>

<%= link_to 'Back', purchases_path %>

<% if can? :manage, @purchase %>
<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<% end %>
